{{#if lore.hasEntries}}
{{#if stonetop.editMode}}
<div class="details-section">
	{{#each lore.entries}}
	<div class="stonetop-lore-entry">
		{{#if isContinuation}}
		<p class="stonetop-lore-continuation-title">{{title}}</p>
		{{else}}
		{{> "stonetop.section-heading" title=title}}
		{{/if}}
		{{#if description}}
		<div class="stonetop-lore-description">{{{description}}}</div>
		{{/if}}
		{{#each options}}
		<div class="stonetop-lore-option{{#if (eq type 'text')}} stonetop-lore-option--text{{/if}}">
			{{#if (eq type "text")}}
			<label class="stonetop-lore-option-desc">{{{description}}}</label>
			<textarea class="stonetop-lore-option-text"
			          data-lore-slug="{{../slug}}"
			          data-option-slug="{{slug}}"
			          >{{textValue}}</textarea>
			{{else}}
			<span class="stonetop-lore-option-checks">
				{{#each checks}}
				<input type="checkbox" class="stonetop-lore-option-check"
				       data-lore-slug="{{../../slug}}"
				       data-option-slug="{{../slug}}"
				       data-idx="{{@index}}"
				       {{#if this}}checked{{/if}}>
				{{/each}}
			</span>
			<span class="stonetop-lore-option-desc">{{{description}}}</span>
			{{/if}}
		</div>
		{{/each}}
	</div>
	{{/each}}
</div>
{{else}}
{{#if lore.hasSelection}}
<div class="details-section">
	{{#each lore.entries}}
	{{#if hasSelection}}
	<div class="stonetop-lore-entry">
		{{#if isContinuation}}
		<p class="stonetop-lore-continuation-title">{{title}}</p>
		{{else}}
		{{> "stonetop.section-heading" title=title}}
		{{/if}}
		{{#if readonlyDescription}}
		<div class="stonetop-lore-description">{{{readonlyDescription}}}</div>
		{{/if}}
		{{#each options}}
		{{#if (eq type "text")}}
		{{#if textValue}}
		<div class="stonetop-lore-option stonetop-lore-option--text stonetop-lore-option--readonly">
			<span class="stonetop-lore-option-desc">{{{description}}}</span>
			<p class="stonetop-lore-readonly-value">{{textValue}}</p>
		</div>
		{{/if}}
		{{else}}
		{{#if count}}
		<div class="stonetop-lore-option stonetop-lore-option--readonly">
			<span class="stonetop-lore-readonly-marker{{#if (eq ../readonlyMarker "spiral")}} stonetop-lore-readonly-marker--spiral{{/if}}">
				{{#unless (eq ../readonlyMarker "spiral")}}{{../readonlyMarker}}{{/unless}}
			</span>
			<span class="stonetop-lore-option-desc">{{{readonlyDescription}}}</span>
		</div>
		{{/if}}
		{{/if}}
		{{/each}}
	</div>
	{{/if}}
	{{/each}}
</div>
{{/if}}
{{/if}}
{{/if}}
