{{#each options}}
		<div class="stonetop-lore-option{{#if (eq type 'text')}} stonetop-lore-option--text{{/if}}">
			{{#if (eq type "text")}}
			{{#if description}}<label class="stonetop-lore-option-desc">{{{description}}}</label>{{/if}}
			<textarea class="stonetop-lore-option-text"
			          data-lore-slug="{{../slug}}"
			          data-option-slug="{{slug}}"
			          >{{textValue}}</textarea>
			{{else}}
			<span class="stonetop-lore-option-checks">
				{{#each checks}}
				<input type="checkbox" class="stonetop-lore-option-check"
				       data-lore-slug="{{../../slug}}"
				       data-option-slug="{{../slug}}"
				       data-idx="{{@index}}"
				       {{#if this}}checked{{/if}}>
				{{/each}}
			</span>
			<span class="stonetop-lore-option-desc">{{{description}}}</span>
			{{/if}}
		</div>
{{/each}}
