{{#if level}}{{#if @root.stonetop.editMode}}<span class="stonetop-move-mark-level-wrap">(level <input type="number" class="stonetop-move-mark-level" data-move-name="{{moveName}}" data-mark-slug="{{slug}}" data-idx="{{index}}" value="{{level}}" min="1">)</span>{{else}}<span class="stonetop-move-mark-level-text">(level {{level}})</span>{{/if}}{{/if}}
