<div class="stonetop-move-group">
	{{> "stonetop.section-heading" title=title note=note}}
	{{#if hideToggle}}
	<label class="stonetop-hide-unselected-label">
		<input type="checkbox" class="stonetop-hide-unselected-check"{{#if hideUnselected}} checked{{/if}}>
		Show un-learned moves
	</label>
	{{/if}}
	<ol class="items-list">
	{{#each moves}}
		{{#if (and owned rollType)}}
		<li class="item stonetop-item is-checked{{#if isStarting}} move-starting{{/if}}" data-item-id="{{ownedId}}">
		{{else}}
		<li class="stonetop-item{{#if owned}} is-checked{{/if}}{{#if locked}} move-locked{{/if}}{{#if isStarting}} move-starting{{/if}}">
		{{/if}}
			<div class="stonetop-item-header">
				{{#if repeatable}}
				<span class="stonetop-repeat-checks">
					{{#each (repeatChecks this)}}
					<input type="checkbox" class="stonetop-item-check stonetop-repeat-check"
					       data-compendium-id="{{../compendiumId}}"
					       data-owned-id="{{ownedId}}"
					       {{#if checked}}checked{{/if}}
					       {{#if (or disabled (not @root.stonetop.editMode))}}disabled{{/if}}>
					{{/each}}
				</span>
				{{else}}
				<input type="checkbox" class="stonetop-item-check stonetop-move-check"
				       data-compendium-id="{{compendiumId}}"
				       data-owned-id="{{ownedId}}"
				       {{#if owned}}checked{{/if}}
				       {{#if (or isStarting locked (not @root.stonetop.editMode))}}disabled{{/if}}>
				{{/if}}
				{{#if (and owned rollType)}}
				<span class="rollable move-rollable" data-roll="{{rollType}}" data-mod="">
					<i class="fas fa-dice-d6"></i>
				</span>
				{{/if}}
				{{#if (and @root.stonetop.showRollStatChips rollLabel)}}<span class="stonetop-move-roll-chip">+{{rollLabel}}</span>{{/if}}
				<strong class="stonetop-item-name">{{name}}</strong>
				{{#if sourceLabel}}<span class="stonetop-item-source">{{sourceLabel}}</span>{{/if}}
				{{#if (and owned resource)}}
				<span class="stonetop-item-resources">
					{{#each (resourceChecks resource)}}
					<span class="stonetop-item-resource-entry">
						<button type="button" class="stonetop-item-resource-check{{#if checked}} is-checked{{/if}}"
						        data-move-name="{{../name}}"
						        data-index="{{@index}}"></button>
						{{#if label}}<span class="stonetop-resource-label">{{label}}</span>{{/if}}
					</span>
					{{/each}}
				</span>
				{{/if}}
			</div>
			<div class="stonetop-item-description">{{{boldMissText description}}}</div>
			{{#if statChoices}}
			<div class="stonetop-stat-choices">
				{{#each statChoices}}
				{{#if statKey}}
				<span class="stonetop-stat-boost-chip">+1 {{statAbbr}}</span>
				{{/if}}
				{{/each}}
			</div>
			{{/if}}
			{{#if backgroundAnswer}}
			<p class="stonetop-move-note stonetop-move-background-answer">
				{{backgroundAnswer.label}}: {{backgroundAnswer.value}}
			</p>
			{{/if}}
			{{#if requiresLabel}}<p class="stonetop-move-note">Requires: {{requiresLabel}}</p>{{/if}}
			{{#if requiresPlaybook}}<p class="stonetop-move-note">Requires {{requiresPlaybook}} playbook</p>{{/if}}
			{{#if minLevel}}<p class="stonetop-move-note">Level {{minLevel}}+</p>{{/if}}
		</li>
	{{/each}}
	</ol>
</div>
