<form class="{{cssClass}}" autocomplete="off">
	<div class="sheet-wrapper">

		{{> "stonetop.actor-header"}}

		{{#unless stonetop.playbook}}
		<div class="stonetop-no-playbook-state">
			{{#if editable}}
			<button type="button" class="stonetop-create-character-btn">
				<i class="fas fa-user-plus"></i>
				{{localize "stonetop.newCharacter.createButtonLabel"}}
			</button>
			{{/if}}
		</div>
		{{else}}

		<section class="sheet-top flexcol">
			<div class="stonetop-details-heading-row">
				{{> "stonetop.section-heading" title=(localize "stonetop.character.stats.sectionTitle") note=stonetop.statsNoteDisplay}}
				{{> "stonetop.details-section-edit-toggle" section="stats" editing=stonetop.statsEdit}}
			</div>

			<section class="sheet-attributes flexrow">
				{{> "stonetop.actor-stats"}}
			</section>
			<div class="stonetop-debilities">
				<div class="stonetop-debility">
					<span class="stonetop-debility-bracket"></span>
					<label class="stonetop-debility-control" data-tooltip="Fatigued, tired, sluggish, shaky. Disadvantage on +STR or +DEX rolls." data-tooltip-direction="UP">
						<input type="checkbox" class="attr-list"
						       name="system.attributes.debilities.options.weakened.value"
						       {{#if system.attributes.debilities.options.weakened.value}}checked{{/if}}>
						<span class="stonetop-debility-label">weakened</span>
					</label>
				</div>
				<div class="stonetop-debility">
					<span class="stonetop-debility-bracket"></span>
					<label class="stonetop-debility-control" data-tooltip="Out of it, befuddled, not thinking clearly. Disadvantage on +INT or +WIS rolls." data-tooltip-direction="UP">
						<input type="checkbox" class="attr-list"
						       name="system.attributes.debilities.options.dazed.value"
						       {{#if system.attributes.debilities.options.dazed.value}}checked{{/if}}>
						<span class="stonetop-debility-label">dazed</span>
					</label>
				</div>
				<div class="stonetop-debility">
					<span class="stonetop-debility-bracket"></span>
					<label class="stonetop-debility-control" data-tooltip="Greatly distressed, angry, unwell, in pain. Disadvantage on +CON or +CHA rolls." data-tooltip-direction="UP">
						<input type="checkbox" class="attr-list"
						       name="system.attributes.debilities.options.miserable.value"
						       {{#if system.attributes.debilities.options.miserable.value}}checked{{/if}}>
						<span class="stonetop-debility-label">miserable</span>
					</label>
				</div>
			</div>

			<section class="sheet-attributes-top">
				{{> "stonetop.actor-vitals"}}
			</section>

		</section>

		<section class="sheet-main flexcol">
			<nav class="sheet-tabs tabs" data-group="primary">
				<a class="item" data-tab="moves">{{localize "stonetop.sheet.tabs.moves"}}</a>
				{{#if stonetop.invocations}}<a class="item" data-tab="invocations">{{localize "stonetop.sheet.tabs.invocations"}}</a>{{/if}}
				{{#if stonetop.hasFollowers}}<a class="item" data-tab="followers">{{localize "stonetop.sheet.tabs.followers"}}</a>{{/if}}
				<a class="item" data-tab="inventory">{{localize "stonetop.sheet.tabs.inventory"}}</a>
				{{#if stonetop.hasArcana}}<a class="item" data-tab="arcana">{{localize "stonetop.sheet.tabs.arcana"}}</a>{{/if}}
				<a class="item" data-tab="details">{{localize "stonetop.sheet.tabs.details"}}</a>
				{{#if stonetop.showPostDeath}}<a class="item" data-tab="post-death">{{localize "stonetop.sheet.tabs.postDeath"}}</a>{{/if}}
				<a class="item" data-tab="special-moves">{{localize "stonetop.sheet.tabs.specialMoves"}}</a>
			</nav>

			<div class="stonetop-sheet-layout">
				<section class="sheet-body">
					{{> "stonetop.tab-moves"}}
					{{#if stonetop.invocations}}{{> "stonetop.tab-invocations"}}{{/if}}
					{{#if stonetop.hasFollowers}}{{> "stonetop.tab-followers"}}{{/if}}
					{{> "stonetop.tab-equipment"}}
					{{#if stonetop.hasArcana}}{{> "stonetop.tab-arcana"}}{{/if}}
					{{> "stonetop.tab-details"}}
					{{#if stonetop.showPostDeath}}{{> "stonetop.tab-post-death"}}{{/if}}
					{{> "stonetop.tab-special-moves"}}
				</section>

				<div class="stonetop-moves-sidebar">
					{{> "stonetop.section-heading" title="Roll Modifier"}}
					<div class="stonetop-roll-mode-control" role="group" aria-label="Roll mode">
						<label class="stonetop-roll-mode-option{{#if (eq stonetop.rollMode "adv")}} is-checked{{/if}}">
							<input type="radio" class="stonetop-roll-mode-input" name="stonetop-roll-mode" value="adv"
							       {{#if (eq stonetop.rollMode "adv")}}checked{{/if}}
							       {{#unless editable}}disabled{{/unless}}>
							<span>Advantage</span>
						</label>
						<label class="stonetop-roll-mode-option{{#if (eq stonetop.rollMode "normal")}} is-checked{{/if}}">
							<input type="radio" class="stonetop-roll-mode-input" name="stonetop-roll-mode" value="normal"
							       {{#if (eq stonetop.rollMode "normal")}}checked{{/if}}
							       {{#unless editable}}disabled{{/unless}}>
							<span>Normal</span>
						</label>
						<label class="stonetop-roll-mode-option{{#if (eq stonetop.rollMode "dis")}} is-checked{{/if}}">
							<input type="radio" class="stonetop-roll-mode-input" name="stonetop-roll-mode" value="dis"
							       {{#if (eq stonetop.rollMode "dis")}}checked{{/if}}
							       {{#unless editable}}disabled{{/unless}}>
							<span>Disadvantage</span>
						</label>
					</div>

					{{> "stonetop.sidebar-move-list" moves=stonetop.movelist.basicMoves titleKey="stonetop.character.moves.basicMoves" openClass="stonetop-basic-move-open"}}
					{{> "stonetop.sidebar-move-list" moves=stonetop.movelist.expeditionMoves titleKey="stonetop.character.moves.expeditionMoves" openClass="stonetop-expedition-move-open"}}

					<div class="stonetop-sidebar-rules">
						<details class="stonetop-follower-rule">
							<summary>Multiple Combatants</summary>
							<p>When your <strong>attack could hurt multiple foes</strong>, roll Clash or Let Fly once, but roll damage separately for each foe.</p>
							<p>When you <strong>gang up on a foe</strong>, one of you rolls Clash or Let Fly and the others Aid. If you deal damage, one of you (your choice) rolls your damage, +1 damage per capable attacker after the first. Apply all tags that make sense.</p>
						</details>
					</div>
				</div>
			</div>
		</section>

		{{/unless}}

	</div>
</form>
