<div class="stonetop-playbook-picker-body">
	<div class="stonetop-playbook-picker-grid">
		{{#each playbooks}}
		<button type="button"
			class="stonetop-playbook-picker-card stonetop-playbook-picker-card--{{slug}}"
			data-uuid="{{uuid}}"
			title="{{name}}"
		>
			{{#if img}}
			<img class="stonetop-playbook-picker-card-icon" src="{{img}}" alt="">
			{{/if}}
			<span class="stonetop-playbook-picker-card-name">{{name}}</span>
		</button>
		{{/each}}
	</div>
</div>
